<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geekplus.webapp.system.mapper.SysLoginLogMapper">
    <resultMap id="BaseResultMap" type="com.geekplus.webapp.system.entity.SysLoginLog">
            <result property="logId" column="log_id" jdbcType="INTEGER" />
            <result property="logUserId" column="log_user_id" jdbcType="INTEGER" />
            <result property="logUserName" column="log_user_name" jdbcType="VARCHAR" />
            <result property="logLoginIp" column="log_login_ip" jdbcType="VARCHAR" />
            <result property="loginLocation" column="login_location" jdbcType="VARCHAR" />
            <result property="logBrowser" column="log_browser" jdbcType="VARCHAR" />
            <result property="logSystem" column="log_system" jdbcType="VARCHAR" />
            <result property="logTime" column="log_time" jdbcType="TIMESTAMP" />
            <result property="logType" column="log_type" jdbcType="INTEGER" />
            <result property="logMsg" column="log_msg" jdbcType="VARCHAR" />
    </resultMap>

    <!--系统登录日志-->
    <!--基础查询语句-->
    <sql id="baseSelectVo">
        select
        log_id,log_user_id,log_user_name,log_login_ip,login_location,log_browser,log_system,log_time,log_type,log_msg
         from sys_login_log
    </sql>

    <!--基础查询语句2,用作联合查询使用-->
    <sql id="selectSysLoginLogVo">
        select
            sll.log_id,sll.log_user_id,sll.log_user_name,sll.log_login_ip,sll.login_location,sll.log_browser,sll.log_system,sll.log_time,sll.log_type,sll.log_msg
         from sys_login_log sll
    </sql>

    <!--数据查询操作SQL(非联合查询)-->
    <select id="selectSysLoginLogList" parameterType="SysLoginLog" resultMap="BaseResultMap">
        <include refid="baseSelectVo"/>
        <where>
                    <if test="logId !=null">
                        AND log_id = #{logId}
                    </if>
                    <if test="logUserId !=null">
                        AND log_user_id = #{logUserId}
                    </if>
                    <if test="logUserName !=null">
                        AND log_user_name = #{logUserName}
                    </if>
                    <if test="logLoginIp !=null">
                        AND log_login_ip = #{logLoginIp}
                    </if>
                    <if test="loginLocation !=null">
                        AND login_location = #{loginLocation}
                    </if>
                    <if test="logBrowser !=null">
                        AND log_browser = #{logBrowser}
                    </if>
                    <if test="logSystem !=null">
                        AND log_system = #{logSystem}
                    </if>
                    <if test="logTime !=null">
                        AND log_time = #{logTime}
                    </if>
                    <if test="logType !=null">
                        AND log_type = #{logType}
                    </if>
                    <if test="logMsg !=null">
                        AND log_msg = #{logMsg}
                    </if>
        </where>
        order by log_time desc
    </select>

    <!--数据联合查询操作SQL(联合查询)-->
    <select id="selectUnionSysLoginLogList" parameterType="SysLoginLog" resultMap="BaseResultMap">
        <include refid="selectSysLoginLogVo"/>
        <where>
                    <if test="logId !=null">
                        AND sll.log_id = #{logId}
                    </if>
                    <if test="logUserId !=null">
                        AND sll.log_user_id = #{logUserId}
                    </if>
                    <if test="logUserName !=null">
                        AND sll.log_user_name = #{logUserName}
                    </if>
                    <if test="logLoginIp !=null">
                        AND sll.log_login_ip = #{logLoginIp}
                    </if>
                    <if test="loginLocation !=null">
                        AND sll.login_location = #{loginLocation}
                    </if>
                    <if test="logBrowser !=null">
                        AND sll.log_browser = #{logBrowser}
                    </if>
                    <if test="logSystem !=null">
                        AND sll.log_system = #{logSystem}
                    </if>
                    <if test="logTime !=null">
                        AND sll.log_time = #{logTime}
                    </if>
                    <if test="logType !=null">
                        AND sll.log_type = #{logType}
                    </if>
                    <if test="logMsg !=null">
                        AND sll.log_msg = #{logMsg}
                    </if>
        </where>
        order by sll.log_time desc
    </select>

    <!--单条数据或详情查询操作SQL-->
    <select id="selectSysLoginLogById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="baseSelectVo"/>
        where
                log_id = #{logId}
    </select>

    <!--添加操作SQL-->
    <insert id="insertSysLoginLog" parameterType="SysLoginLog"  useGeneratedKeys="true" keyProperty="logId">
        insert into sys_login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="logUserId != null ">log_user_id,</if>
                        <if test="logUserName != null  and logUserName != ''">log_user_name,</if>
                        <if test="logLoginIp != null  and logLoginIp != ''">log_login_ip,</if>
                        <if test="loginLocation != null  and loginLocation != ''">login_location,</if>
                        <if test="logBrowser != null  and logBrowser != ''">log_browser,</if>
                        <if test="logSystem != null  and logSystem != ''">log_system,</if>
                        <if test="logTime != null ">log_time,</if>
                        <if test="logType != null ">log_type,</if>
                        <if test="logMsg != null  and logMsg != ''">log_msg,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                        <if test="logUserId != null ">#{logUserId},</if>
                        <if test="logUserName != null  and logUserName != ''">#{logUserName},</if>
                        <if test="logLoginIp != null  and logLoginIp != ''">#{logLoginIp},</if>
                        <if test="loginLocation != null  and loginLocation != ''">#{loginLocation},</if>
                        <if test="logBrowser != null  and logBrowser != ''">#{logBrowser},</if>
                        <if test="logSystem != null  and logSystem != ''">#{logSystem},</if>
                        <if test="logTime != null ">#{logTime},</if>
                        <if test="logType != null ">#{logType},</if>
                        <if test="logMsg != null  and logMsg != ''">#{logMsg},</if>
        </trim>
    </insert>

    <!--批量添加操作SQL-->
    <insert id="batchInsertSysLoginLogList" parameterType="java.util.List">
        insert into sys_login_log
        (
         log_user_id,log_user_name,log_login_ip,login_location,log_browser,log_system,log_time,log_type,log_msg
        )
         values
        <foreach collection="list" item="item" index="index" separator=",">
        (
         #{item.logUserId},#{item.logUserName},#{item.logLoginIp},#{item.loginLocation},#{item.logBrowser},#{item.logSystem},#{item.logTime},#{item.logType},#{item.logMsg}
        )
        </foreach>
    </insert>

    <!--删除操作SQL-->
    <delete id="deleteSysLoginLogById" parameterType="Long">
        delete FROM sys_login_log where log_id = #{logId}
    </delete>

    <!--逻辑删除-->
    <delete id="deleteSysLoginLogById2" parameterType="Long">
        update sys_login_log set del_flag='2' where log_id = #{logId}
    </delete>

    <!--删除操作SQL-->
    <delete id="deleteSysLoginLogByIds" parameterType="Long">
        delete FROM sys_login_log where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
             #{logId}
        </foreach>
    </delete>

    <!--逻辑批量删除-->
    <delete id="deleteSysLoginLogByIds2" parameterType="Long">
        update sys_login_log set del_flag='2' where log_id in
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>

    <!--更新操作SQL-->
    <update id="updateSysLoginLog" parameterType="SysLoginLog">
        update sys_login_log
        <trim prefix="SET" suffixOverrides=",">
                    <if test="logUserId != null ">log_user_id = #{logUserId},</if>
                    <if test="logUserName != null  and logUserName != ''">log_user_name = #{logUserName},</if>
                    <if test="logLoginIp != null  and logLoginIp != ''">log_login_ip = #{logLoginIp},</if>
                    <if test="loginLocation != null  and loginLocation != ''">login_location = #{loginLocation},</if>
                    <if test="logBrowser != null  and logBrowser != ''">log_browser = #{logBrowser},</if>
                    <if test="logSystem != null  and logSystem != ''">log_system = #{logSystem},</if>
                    <if test="logTime != null ">log_time = #{logTime},</if>
                    <if test="logType != null ">log_type = #{logType},</if>
                    <if test="logMsg != null  and logMsg != ''">log_msg = #{logMsg},</if>
        </trim>
         where log_id = #{logId}
    </update>

    <!--批量更新某个字段-->
    <update id="batchUpdateSysLoginLogList" >
        update sys_login_log set
            log_id='',log_user_id='',log_user_name='',log_login_ip='',login_location='',log_browser='',log_system='',log_time='',log_type='',log_msg=''
         where log_id in
        <foreach collection="array" item="item"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="cleanTable">
        truncate table sys_login_log
    </update>
</mapper>
