<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geekplus.webapp.system.mapper.SysRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.geekplus.webapp.system.entity.SysRolePermission">
            <result property="roleId" column="role_id" jdbcType="INTEGER" />
            <result property="permissionId" column="permission_id" jdbcType="INTEGER" />
    </resultMap>

    <!--用户角色权限关系表-->
    <!--基础查询语句-->
    <sql id="baseSelectVo">
        select
        role_id,permission_id
         from sys_role_permission
    </sql>

    <!--基础查询语句2,用作联合查询使用-->
    <sql id="selectSysRolePermissionVo">
        select
            srp.role_id,srp.permission_id
         from sys_role_permission srp
    </sql>

    <!--数据查询操作SQL(非联合查询)-->
    <select id="selectSysRolePermissionList" parameterType="SysRolePermission" resultMap="BaseResultMap">
        <include refid="baseSelectVo"/>
        <where>
                    <if test="roleId !=null">
                        AND role_id = #{roleId}
                    </if>
                    <if test="permissionId !=null">
                        AND permission_id = #{permissionId}
                    </if>
        </where>
    </select>

    <!--数据联合查询操作SQL(联合查询)-->
    <select id="selectUnionSysRolePermissionList" parameterType="SysRolePermission" resultMap="BaseResultMap">
        <include refid="selectSysRolePermissionVo"/>
        <where>
                    <if test="roleId !=null">
                        AND srp.role_id = #{roleId}
                    </if>
                    <if test="permissionId !=null">
                        AND srp.permission_id = #{permissionId}
                    </if>
        </where>
    </select>

    <!--单条数据或详情查询操作SQL-->
    <select id="selectSysRolePermissionById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="baseSelectVo"/>
        where
                role_id = #{roleId}
                permission_id = #{permissionId}
    </select>

    <!--添加操作SQL-->
    <insert id="insertSysRolePermission" parameterType="SysRolePermission" >
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="roleId != null ">role_id,</if>
                    <if test="permissionId != null ">permission_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="roleId != null ">#{roleId},</if>
                    <if test="permissionId != null ">#{permissionId},</if>
        </trim>
    </insert>

    <!--批量添加操作SQL-->
    <insert id="batchInsertSysRolePermissionList" parameterType="java.util.List">
        insert into sys_role_permission
        (         role_id,permission_id
        )
         values
        <foreach collection="list" item="item" index="index" separator=",">
        (         #{item.roleId},#{item.permissionId}
        )
        </foreach>
    </insert>

    <!--删除操作SQL-->
    <delete id="deleteSysRolePermissionById" parameterType="Long">
        delete FROM sys_role_permission where role_id = #{roleId}
    </delete>

    <!--逻辑删除-->
    <delete id="deleteSysRolePermissionById2" parameterType="Long">
        update sys_role_permission set del_flag='2' where role_id = #{roleId}
    </delete>

    <!--删除操作SQL-->
    <delete id="deleteSysRolePermissionByIds" parameterType="Long">
        delete FROM sys_role_permission where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
             #{roleId}
        </foreach>
    </delete>

    <!--逻辑批量删除-->
    <delete id="deleteSysRolePermissionByIds2" parameterType="Long">
        update sys_role_permission set del_flag='2' where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <!--更新操作SQL-->
    <update id="updateSysRolePermission" parameterType="SysRolePermission">
        update sys_role_permission
        <trim prefix="SET" suffixOverrides=",">
        </trim>
         where role_id = #{roleId}
    </update>

    <!--批量更新某个字段-->
    <update id="batchUpdateSysRolePermissionList" >
        update sys_role_permission set
            role_id='',permission_id=''
         where role_id in
        <foreach collection="array" item="item"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>
